* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
    src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}


:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.header_two {
  position: relative;
  background-color: #010101;
}

.header::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../img2/hero-section/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}

.container_of_style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: var(--transition);
  will-change: transform;
  z-index: 0;
}

.background_img--middle {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
  will-change: transform;
  z-index: 1;
}

.background_img--front {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
  will-change: transform;
  z-index: 2;
}

.container_of_style {
  transform: translate3d(0, calc(var(--scrollTop) / 4.0), 0);
  will-change: transform;
}

.background_img--middle {
  transform: translate3d(0, calc(var(--scrollTop) / -7), 0);
  will-change: transform;
}

.background_img--front  {
  transform: translate3d(0, calc(var(--scrollTop) / -4.2), 0);
  will-change: transform;
}

.content--text {
  display: flex;
  width: 100%;
  height: 100%;
  padding: calc(var(--index) * 1) calc(var(--index) * 1.5);

}

.content--text-left {
  position: relative;
  width: 60%;
}


.headerline-block {
  position: absolute;
  top: 53%;
  left: 0;
  transform: translateY(-53%);
}

.headerline-content {
  font-size: calc(var(--index) * 3);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  transition: var(--transition);
  will-change: transform;
  text-transform: uppercase;
  color: var(--text);
  text-shadow: 0 0 15px #4074f8;
}

.paragraph-content {
  font-size: calc(var(--index) * .7);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  transition: var(--transition);
  will-change: transform;
  text-transform: uppercase;
  color: var(--text);
  text-shadow: 0 0 15px #4074f8;
}

.mouse-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 15%;
  bottom: 10%;
  z-index: 10;
  transition: 0.5s ease-out;
}

.paragraph-content-mouse {
  font-size: calc(var(--index) * .7);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ededf5;
  z-index: 10;
  transform: rotate(90deg);
  margin-bottom: 15px;
}

.scrollButttonDelet {
  transition: 0.5s ease-out;
  opacity: 0;
}

.container-next-2 {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 0;
}

.gradient-next-page {
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.43) 0%, #0F0F0F 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}


.lump-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.content-block__nextpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.block-card {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 40%;
  transform: translateY(-50%) translateX(-50%);
  gap: 10px;
  perspective: calc(var(--index) * 35);
  z-index: 4;
}

.card-item-content {
  display: flex;
  width: calc(100% / 7);
  padding: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale() brightness(.5) drop-shadow(16px 16px 20px #3a3a3a) ;
  transition: 0.5s opacity ease, 0.5s transform ease-out, 0.5s filter ease, 0.5s box-shadow ease, 0.5s width ease;
  will-change: transform;
}

.content-block__headerline {
  position: absolute;
  left: 5%;
  top: 10%;
  font-size: calc(var(--index) * 2.5);
  text-transform: uppercase;
  color: var(--text);
  text-shadow: 0 0 15px #4074f8;
  will-change: transform;

}

/* hover effect */
.card-item-content-hoverMain {
  transform: translateZ(calc(var(--index) * 5.5));
  filter: inherit;
}

.card-item-content-hover-left {
  transform: translateZ(calc(var(--index) * 3.5)) rotateY(-35deg);
  filter: inherit;
  opacity: 0.8;
}

.card-item-content-hover-right {
  transform: translateZ(calc(var(--index) * 3.5)) rotateY(35deg);
  filter: inherit;
  opacity: 0.8;
}

/* active effect */

.card-item-content-active {
  width: calc(100% / 7 * 4);
  transform: translateZ(calc(var(--index) * 5.5));
  filter: inherit;
}

/* ########################################################################################### */

.container-next-3 {
  position: relative;
  height: 100vh;
  z-index: 0;
}

.group {
  position: relative;
  gap: 10px;
  width: 200px;
  height: 200px;
}

.div-group-1, .div-group-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-group {
  position: absolute;
  right: auto;
  bottom: 1%;
  /* transform: translateX(-50%); */
  z-index: 10;
}

.div-1 {
  background-color: #4074f8;
}

.div-2 {
  background-color: blue;
}

.div-3 {
  background-color: red;
}

.div-4 {
  background-color: green;
}
